@import 'colors';
@import 'mixins';

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
  scroll-behavior: smooth;
}

.bio__container {
  height: 100vh;
  background-color: $black;
  position: relative;
  overflow: hidden;

  header {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: flex-end;

    .social {
      display: grid;
      grid-template-columns: 20px 20px 20px 20px;
      grid-gap: 15px;

      svg {
        stroke-width: 1px;
        cursor: pointer;
        transition: margin-top 250ms ease-in-out;

        &:hover {
          margin-top: -3px;
        }
      }
    }
  }
}

.bio__block {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0 auto;
  width: fit-content;
  font-family: JetBrains Mono, monospace;

  @include respond-to('md') {
    grid-template-columns: 240px 1fr;
  }

  @include respond-to('sm') {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    margin: 5vh auto 0 auto;
  }

  figure {
    position: relative;
    height: 280px;
    width: 280px;
    margin: 0;

    @include respond-to('md') {
      height: 240px;
      width: 240px;
    }

    @include respond-to('sm') {
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
  }

  &_about {
    max-width: 500px;

    h1 {
      margin: 0;
      font-weight: 700;
      font-size: 28px;
      line-height: 100%;
      margin-bottom: 5px;

      @include respond-to('sm') {
        font-size: 24px;
      }
    }

    small {
      font-size: 12px;
      font-weight: 300;
      color: rgba($white, 0.4);
      line-height: 12px;

      span {
        background: $pink_gradient;
        cursor: pointer;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      margin-top: 18px;
      line-height: 1.2;

      @include respond-to('sm') {
        font-size: 16px;
      }
    }

    &_techs {
      margin-top: 25px;

      @include respond-to('sm') {
        text-align: center;
        justify-content: center;
      }

      > div {
        margin-top: 5px;
      }

      small {
        font-size: 10px;
        font-weight: 300;
        position: relative;
        margin-left: 38px;

        &:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 1px;
          top: 50%;
          right: 0;
          left: -38px;
          background-color: rgba($white, 0.08);
        }
      }
    }
  }
}

.timeline__container {
  background: $black_gradient;
  height: 100%;
  padding: 35px 0;

  h1 {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    width: fit-content;
  }

  p.desc {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    margin: 0 auto;
    max-width: 240px;
    text-align: center;
    opacity: 0.8;
    margin-top: 8px;
  }
}

.footer {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  .citation {
    padding: 10px 0;
    display: flex;
    width: max-content;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    font-family: JetBrains Mono, monospace;

    i {
      font-size: 12px;
      opacity: 0.5;
    }

    > div {
      align-self: flex-end;

      span {
        font-size: 10px;
        opacity: 0.3;
      }
    }
  }

  .footer__social {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px;
    grid-gap: 10px;
    margin: 0 auto;
    width: max-content;
    margin-top: 15px;

    svg {
      stroke-width: 1px;
      cursor: pointer;
      transition: margin-top 250ms ease-in-out;

      &:hover {
        margin-top: -3px;
      }
    }
  }
}
