@import 'colors';

.wrapper {
  display: flex;
  margin-left: 17px;
}

.tech {
  width: 45px;
  height: 45px;
  border-radius: 999px;
  background-color: $black90;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $black;
  margin-left: -20px;
}
