@import 'colors';
@import 'mixins';

.container {
  display: grid;
  grid-template-columns: 1fr calc(16px * 2 + 10px) 1fr;
  width: fit-content;
  align-items: flex-start;
  z-index: 2;
  margin: 0 auto;

  @include respond-to('sm') {
    grid-template-columns: calc(60px - 20.5px) calc(16px * 2 + 10px) 1fr;
  }
}

.details {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;

  small {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9E9E9E;
    line-height: 100%;

    b {
      color: #fff;
    }
  }

  span {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
  }

  &.right {
    text-align: left !important;
    align-items: flex-start;
  }

  &.left {
    text-align: right !important;
    align-items: flex-end;
  }

  .badge_wrapper {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;

    .badge {
      background-color: rgba($white, 0.05);
      padding: 2px 8px;
      font-size: 10px;
      border-radius: 99px;
    }
  }

}

.year {
  display: flex;

  &.right {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }

  h2 {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    background: $pink_gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin-top: -5px;
    line-height: 100%;
  }
}

.ball {
  width: 10px;
  height: 10px;
  background: $pink_gradient;
  border-radius: 999px;
  margin: 0 auto;
}
